// primary button div and button/a

.btn-div {
        display: flex;
        padding-top: 2rem;
        align-items: center;

        &.justify-center {
            justify-content: center;
        }
        &.justify-between {
            justify-content: space-between;
        }

        a, button{
            text-align: center;
            padding: 12px 40px;
            background-color: #0282f9;
            border: 0;
            color: white;
            font-weight: bold;
            cursor: pointer;
            font-size: 14px;
            text-transform: uppercase;

            &.secondary {
                background-color: #333333;
                color: white;
            }
        }

        &.gap {
            gap: 15px;
        }

}

//classe invalid input
form .comic-input.invalid-input {
    border: 1px solid red;
    

}

form .comic-input.valid-input {
    border: 1px solid green;

}

.error-message {
    font-size: .8rem;
    color: red;
    margin-top: 5px;
}